
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
}
html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}
.content{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    min-width: 100vh;
}
.left-nav{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    background-color: #232B32;
    justify-content: space-between;
    align-items: stretch;
    z-index: 1;
    box-shadow: 2px 0 30px -4px rgba(10, 10, 10, 0.3);
}
.left-nav h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    cursor: default;
    margin: 10px;
    color: white;
}
.left-nav .input-text{
    color: black;
}
  
.h-divider-shadow {
    width: 100%;
    overflow: hidden;
    height: 20px;
  }
  
.h-divider-shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 3px rgb(99, 99, 99);
  }
.task-calendar{
    display: flex;
}
.projects-container{
    display: flex;
    flex-grow: 1;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 50%;
}
.add-projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.add-projects .input-text{
    width: 70%;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color:rgb(151, 151, 151);
    resize: none;
    border: 1px solid rgb(209, 209, 209)
}
.add-projects .input-text:hover{
    transition: border-color 0.3s ease-in-out;
    border: 1px solid rgb(136, 136, 136);
}
.add-projects .input-text:focus{
    outline: none;
    border: 1px solid rgb(34, 34, 34);
}
.left-nav .projects-container .add-projects span{
    cursor: pointer;
    font-size: 30px;
    color: #f3722c;
    transition-duration: 0.8s;
}
.left-nav .projects-container .add-projects span:hover{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    color: #ac5221;
}
.list-projects{
    margin-top: 20px;
    height: 70%;
    width: 100%;
    overflow-y:auto;
}
.project{
    padding-right: 15px;
    padding-left: 15px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
.project:hover{
    background-color: #e9ecef;
    cursor: pointer;
}

.project h4{
    overflow-x: auto;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    margin: 0;
    color: white;
    transition: 0.5s;
}
.project:hover h4{
    color: black;
}
.project .buttons-project{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.circle-task {
    height: 25px;
    width: 25px;
    background-color: rgba(7, 7, 7, 0.479);
    border-radius: 50%;
    display: inline-block;
}
.circle-task p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    line-height: 25px;
    margin: 0;
}
.project .delete-project{
    cursor: pointer;
    height: 20px;
    font-size: 12px;
    line-height: 25px;
    color: #c9184a;
    transition-duration: 0.2s;
}
.project .delete-project:hover{
    color: #a1153d;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.project .edit-project-btn{
    cursor: pointer;
    height: 20px;
    font-size: 12px;
    line-height: 25px;
    color: #575757;
    transition-duration: 0.2s;
}
.project .edit-project-btn:hover{
    color: #646464;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.right-content {
    width: 100%;
    height: 100vh;
    background-color: #495867;
}
.task-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.task-title {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.task-title h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: whitesmoke;
}
.task-title span {

}
.rounded{
    border-style: none;
    width: 100%;
    border-top: 1px solid rgb(235, 235, 235);
}
 /* The Modal (background) */
 .modal-edit-project-name {
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-edit-project-name-content {
    background-color: #3d3d3d;
    margin: 25% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    transition: 0.3s;
  }

.close:hover,
.close:focus {
    color: rgb(32, 32, 32);
    text-decoration: none;
    cursor: pointer;
  } 
/*Submit button for renaming project*/
.submit-rename-project{
    color: rgb(29, 158, 29);
    font-size: 25px;
    transition: 0.3s;
} 
.submit-rename-project:hover,
.submit-rename-project:focus {
    color:rgb(24, 131, 24);
    cursor: pointer;
}
/*Input for rename project */
.modal-edit-project-name-content input{
    width: 70%;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color:rgb(151, 151, 151);
    resize: none;
    border: 1px solid rgb(209, 209, 209)
}
.modal-edit-project-name-content input:hover{
    transition: border-color 0.3s ease-in-out;
    border: 1px solid rgb(136, 136, 136);
}
.modal-edit-project-name-content input:focus{
    outline: none;
    border: 1px solid rgb(34, 34, 34);
}

/*List tasks classes (being populated) */

.list-tasks{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 25px;
    gap: 1px;
    justify-content: flex-start;
    align-items: center;
}
.list-tasks-child-add-task{
    background-color: rgba(0, 0, 0, 0.212);
    height: 50px;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;
    order: 0;
    cursor: pointer;
    transition: 0.5s;
    color: whitesmoke;
}
.list-tasks-child-add-task:hover{
    background-color:rgba(0, 0, 0, 0.17);
    color: rgb(145, 145, 145);
}
.list-tasks-child{
    background-color: rgba(0, 0, 0, 0.212);
    height: 50px;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;
    order: 2;
}
.list-tasks-child-create-template{
    background-color: rgba(0, 0, 0, 0.212);
    height: 250px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;
    order: 1;
}
.list-tasks-content{
    flex-grow: 1;
}
.list-tasks h3{
    font-family: 'Roboto', sans-serif;

    font-weight: 500;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
.list-tasks-child input,textarea, .list-tasks-child-create-template input,textarea{
    width: 95%;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color:rgb(151, 151, 151);
    resize: none;
    border: 1px solid rgb(209, 209, 209)
}
.list-tasks-child input:hover, .list-tasks-child textarea:hover, .list-tasks-child-create-template input:hover, .list-tasks-child-create-template textarea:hover{
    transition: border-color 0.3s ease-in-out;
    border: 1px solid rgb(136, 136, 136);
}
.list-tasks-child input:focus, .list-tasks-child textarea:focus, .list-tasks-child-create-template input:focus, .list-tasks-child-create-templatetextarea:focus{
    outline: none;
    border: 1px solid rgb(34, 34, 34);
}
.list-tasks-child-create-template span{
    color: whitesmoke;
    margin-top: 10px;
    font-size: 25px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.list-tasks-child-create-template span:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.list-tasks .add-task{
    cursor: pointer;
    height: 20px;
}
.task{
    background-color: rgba(0, 0, 0, 0.212);
    min-height: 50px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
    color: whitesmoke;
}
.task.task-done{
    text-decoration:line-through;
}
.task.task-done button{
    background-color: rgba(32, 32, 32, 0.692) !important;
}
.task h3{
    font-size: 18px;
    font-weight: 300;
    padding: 5px;
}
.task .resume-task{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 50px;
    margin-top: 5px;
}
.task .done-btn{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task .done-btn button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:rgba(32, 32, 32, 0);
    border: 1px solid rgb(158, 158, 158);
    cursor: pointer;
    transition: 0.2s;
}
.task .done-btn button:hover{
    transform: scale(1.1);
    background-color: rgba(32, 32, 32, 0.295);
}
.task .title-task{
    width: 55%;
    cursor: pointer;
}
.task .date-task{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    cursor: default;
}
.task .btns-task{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    gap: 10px;
    font-size: 13px;
}
.task .btns-task span {
    color: rgba(255, 255, 255, 0.295);
    transition: 0.5s;
    cursor: pointer;
}
.task .btns-task span.far.fa-edit:hover {
    color: rgba(214, 214, 214, 0.705)
}
.task .btns-task span.fas.fa-trash:hover {
    color: rgba(177, 35, 35, 0.705);
}
.task-general{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.task-details{
    flex-direction:column;
    display: flex;
    width: 100%;
    height: 130px;
    display: none;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.task-details-show{
    display: flex;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    animation: fadein 0.5s;
    animation-fill-mode: forwards;
}
.task-details-hide{
    animation: fadeout 0.5s;
    animation-fill-mode: forwards;
}
.resume-task input,.task textarea{
    width: 70%;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color:rgb(151, 151, 151);
    resize: none;
    border: 1px solid rgb(209, 209, 209)
}
.resume-task input:hover, .task textarea:hover{
    transition: border-color 0.3s ease-in-out;
    border: 1px solid rgb(136, 136, 136);
}
.resume-task input:focus, .task textarea:focus{
    outline: none;
    border: 1px solid rgb(34, 34, 34);
}
.change-date{
    width: 35% !important;
}
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
