
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
}
html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}
.content{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    min-width: 100vh;
}
.left-nav{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    background-color: green;
    justify-content: center;
    align-items: center;
}
.tasks-content{
    width: 85%;
    height: 100vh;
    background-color: yellow;
}
.projects-container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.add-projects{
    display: flex;
    flex-direction: column;
}
.list-projects{
    display:flex;
    flex-direction: column;
    width: 100%;
}
.project{
    display: flex;
    flex-direction: row;
    background-color: red;
    justify-content: space-between;
    align-items: center;
}
.project h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}
.project span{
    height: 25px;
    line-height: 25px;
    color: white;
    margin-right: 20px;
}
